
html {
  scroll-behavior: smooth;  
}

.WPMMODAL{
  font-family: 'Fira Code', monospace;  
  
  text-align: center;
}
.WPMMODAL::-webkit-scrollbar {
  display: none;
}

.ParaCard{
font-family: 'Fira Code', monospace;
text-align: center;
text-justify: inter-word;
scroll-margin: 20px;

font-size:1.8rem;
/* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
}
.ParaCard::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-width: 900px) {
  .ParaCard {
    margin:0vh 30vh 0vh 30vh;
  }
  .UserInteraction{
    margin:0vh 30vh 0vh 30vh;
  }
  
}
@media only screen and (max-width:900px) {
  .ParaCard {
    margin:0vh 10vh 0vh 10vh;
  }
  .UserInteraction{
    margin:0vh 10vh 0vh 10vh;
  }
  
}
@media only screen and (max-width:600px) {
  .ParaCard {
    margin:0vh 0vh 0vh 0vh;
  }
  .UserInteraction{
    margin:0vh 0vh 0vh 0vh;
  }
  
}